<form novalidate (ngSubmit)="savePhoto()" [formGroup]="photoForm">  
  <mat-card>
    <h2 md-dialog-title>Edición de foto</h2>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{_foto?.title}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image [src]="_foto?.url" [alt]="_foto?.title">
    <mat-card-content>
      <!-- INPUT TITULO ------------------>
          <input id="title" 
            type="text"
            name="title"
            formControlName="title"/>      
      <!---------------------------------->
    </mat-card-content>
    <mat-card-footer>
      <button mat-button><mat-icon>face</mat-icon></button>

      <button mat-button type="button" (click)="closeDialog()"><mat-icon>replay</mat-icon> Volver</button>
    </mat-card-footer>
  </mat-card>
</form>



